@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-right: 200px;

}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a :hover{
    color: grey;

}

.home {
    height: 100vh;
    background: rgb(29, 29, 69);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-image {
    width: 500px;
    height: 500px;
    background: rgb(29, 29, 69);
    border-radius: 50%;
    border: 25px solid #fff;
    padding: 100px;
    padding-bottom: 100px;
}

.home-content {
    max-width: 600px;
    color: #fff;
    text-align: right;

}

.home-content h1{
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3{
    font-size: 48px;
    color: bisque;
}

img {
    margin-top: 20px;
    border-radius: 50%;
}